body {
    font-family: "Times New Roman", Times, serif;
    margin: 70px;
    padding: 0;
    background-color: 	#e3c098;
    

}
h1{
	font-weight: normal;
	font-style: italic;
	color: #b8ed47;
}
h3{
	font-weight: normal;
	font-style: italic;
	color: #ddff94;
}
}
p{
	
	font-style:italic;
}

a{
	text-decoration: none;
	color: #67b565;
	font-style: bold;
}
a:hover{
	text-decoration: underline;
}
img{
	width: 300px;
	height: auto;

}
.logo{

	margin: 5px;
	width: 70px;
	height: auto;
	border-style: solid;
	border-color:red;
}
.first-character{
  font-family: "Times New Roman", Times, serif;
  float: left;
  font-size: 30px;
  line-height: 0.65;
  margin: 0.1em 0.1em 0.2em 0;
}